* {
    margin: 0;
    font-family: verdana;
}

.photo img {
    position: relative;
    height: 70%;
    width: auto;

}

.photo p {
    color: #FFF;
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    font-weight: bold;
}